{% extends 'base.html' %}

{% block css %}
.form-class {
display: grid;
grid-template-columns: 1fr 1fr;
}

{% endblock %}

{% block title %}Registrazione{% endblock title%}

{% block content %}
<div class="container my-4 bg pb-5">
    <div class="row justify-content-center ">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="display-6">Registrazione!</h1>
                    <div class="form-class">
                        <form class="lead mx-2" method="post" action="{% url 'signupuser' %}">
                            {% csrf_token %}
                            <div class="form-group mt-2 mb-2">
                                <b>Nome:</b> {{form.first_name}}
                            </div>
                            <div class="form-group mt-2 mb-2">
                                <b>Cognome:</b> {{form.last_name}}
                            </div>
                            <div class="form-group mt-2 mb-2">
                                <b>Nome utente:</b> {{ form.username }}
                            </div>
                            <div class="form-group mt-2 mb-2">
                                <b>Email:</b> {{ form.email }}
                            </div>
                            <div class="form-group mt-2 mb-2">
                                <B>Password:</b> Puoi anche generare una password sicura: <a role="button" class="btn btn-outline-danger mb-2"
                                                               href="{% url 'passwordGenerator:passhome' %}" target="_blank">Genera password sicura
                                </a>{{ form.password1 }}
                            </div>
                            <div class="form-group mt-2 mb-2">
                                <b>Conferma:</b> {{ form.password2 }}
                            </div>
                            <button type="submit" class="btn btn-success">Registrazione!</button>
                        </form>
                    </div>
                    <hr>
                    <p class="lead">Hai già un account? <a href="{% url 'loginuser' %}"
                                                                class="text-decoration-none">Entra</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}